<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title> Party U </title>
    <meta chartset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Externos -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/participante.css" rel="stylesheet">
    <link href="stylesheets/header.css" rel="stylesheet">
    <!-- Fonte Ballo Da 2 e Poppins -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5b119a7c30.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Header da Página -->
    <%- include('../partials/headerParticipante') %>
    <!-- Main -->
    <main>
        <div id="container" class="container-fluid">
            <div class="row">
                <!-- Corpo da página -->
                <div class="col-12 text p-3 mb-5 bg-white rounded">
                    <div class="row mb-3 justify-content-center">
                        <div class="col-6 text-center">
                            <div class="form-group input-group">
                                <i class="icone-busca fas fa-search pl-3 pr-3 pt-2"></i>
                                <input name="consulta" id="txt_consulta" placeholder="Busque por nome ou categoria de eventos" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <% if(eventos.length == 0){ %>
                            <div class="col-12 text-center">
                                <p class="body-text-p">Não há nenhum evento disponível! </p>
                            </div>
                        <% } else { %>
                            <% for(evento of eventos) { %>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 mb-5 pl-5 card-busca">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top tamanho-imagem-card" src="images/evento.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-title"> <%= evento.tema %> </p>
                                            <p class="card-text"> <%= evento.nome %> </p>
                                        </div>
                                        <div class="card-body">
                                            <form action="/inscricaoEvento" method="POST">
                                                <input type="hidden" name="idEvento" value="<%= evento.id_evento %>">
                                                <button type="submit" class="botaoForm">  Comprar Ingresso </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <section>
        <!-- Modal Feedback -->
        <div class="modal fade" id="modal-feedback" tabindex="-1" role="dialog" aria-labelledby="modal-feedback" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-feedback-titulo"> Aviso </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">        
                        <div class="row justify-content-center">
                            <div class="col-lg-8"> 
                                <div class="row">
                                    <div class="col-12">
                                        <input id="feedbacks" type="hidden" value="<%= feedback %>">
                                        <p id="mensagemFeedback" class="texto"> </p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="botao-fechar" data-dismiss="modal"> Fechar </button>
                                </div>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.3.1/jquery.quicksearch.js"></script>
    <script type="text/javascript" src="javascripts/participante.js"></script>
</body>
</html>